# Creating a Pipeline in Pandas

In [3]:
import pandas as pd

In [4]:
# create an empty dataframe
df = pd.DataFrame()

# create a column
df['name'] = ['Damian', 'Sarah', 'Ray']
df['employed'] = ['Yes', 'Yes', 'No']
df['age'] = [32,39,19]

# view dataframe
df

     name employed  age
0  Damian      Yes   32
1   Sarah      Yes   39
2     Ray       No   19

In [5]:
# create a function
def mean_age_by_group(dataframe, col):
    # group the data by column and return the mean age per group
    return dataframe.groupby(col).mean()

In [6]:
# create a function 
def uppercase_column_name(dataframe):
    # capitalise all column headers
    dataframe.columns = dataframe.columns.str.upper()
    
    # return dataframe
    return dataframe

In [7]:
# create a pipeline that applies both functions
(df.pipe(mean_age_by_group, col='employed')
    # then apply the uppercase function 
    .pipe(uppercase_column_name)
)

           AGE
employed
No        19.0
Yes       35.5